.sidebar {
    background-color: #171717;
    color: #b4b4b4;
    height: 100vh;
    width: 320px;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
   
}

button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: solid 0.5px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.logo{
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    object-fit: cover;
}

button span {
    font-size: 20px;
}

button:hover {
    background-color: rgba(180, 180, 180, 0.05);
}
/* .history{
    margin: 10px;
    padding: 10px;
    height: 100%;
} */
.history {
    flex: 1;
    overflow-y: auto;
}

.history li {
    list-style-type: none;
    cursor: pointer;
    padding: 2px 5px;
    margin-bottom: 0.3rem;
    font-size: 14px;
    border: solid 10px transparent;
    position: relative;
}

.history li:hover {
    background-color: rgba(180, 180, 180, 0.05);
    border-radius: 10px;
}

/* .sign{
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    text-align: center;
    border-top: solid 0.25px rgba(255, 255, 255, 0.5);
} */
 .sign {
    position: sticky;
    bottom: 0;
    background: #171717;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.2);
}
.fa-trash,
.fa-pen{
    opacity: 0;
    transition: 0.2s;
}

.history li:hover .fa-trash,
.history li:hover .fa-pen,
.highlighted .fa-trash,
.highlighted .fa-pen{
    opacity: 1;
}

.fa-trash{
    color: #f87171 !important;
}

.fa-pen{
    color: #60a5fa !important;
}

.fa-trash{
    color: #f87171 !important;
}

.highlighted{
    background-color: rgba(180, 180, 180, 0.05);
    border-radius: 10px;
}

.rename-modal{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.rename-box{
    background: #202123;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
}

.rename-box h3{
    margin-bottom: 15px;
}

.rename-box input{
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
}

.rename-buttons{
    margin-top: 15px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.history li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.thread-actions {
    display: flex;
    gap: 10px;
}

.thread-actions i {
    cursor: pointer;
}